* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d8d1da;
 
}

.header {
  background-color: #b766c9;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.productos {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e0dce4;
  box-shadow: 0 6px 15px rgba(138, 27, 163, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productos:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(165, 143, 170, 0.3); 
}

.productos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.productos-body {
  padding: 15px;
  text-align: center;
}

.productos-body h2 {
  font-size: 1.2rem;
  color: #7a6680;
  margin-bottom: 10px;
}

.price {
  color: #000000;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

button {
  background-color: #c06c84;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ad5b73;
  transform: scale(1.05);
}

.footer {
  background-color:  #b766c9;
  color: #000000;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 0.9rem;
}
