.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 200px 40px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(226, 196, 157);
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(157, 216, 155);

}